Body{
	background:url(images/thumb.png);
	background-size:100% 710px;
	
	padding-top:50px;
	
}
#nav{
	color:white;
	padding-top:30px;
	padding-left:60px;
	font-size:35px;
	margin:auto;
	background:#800000;
	width:500px;
	border-radius:10px;
	opacity:.8;	
}
#nav input{
	 margin-top:30px;
	 width:200px;
	 height:40px;
	font-size:25px;
	border-radius:5px;

}

#nav input[name="email1"]{
	width:400px;
}
#nav input[name="sex1"]{
	margin-top:12px;
	width:25px;
}
#nav input[type="checkbox"]{
	margin-top:5px;
	width:25px;
}
#nav input[type="submit"]{
	margin:10px;
	width:150px;
	border-radius:50px;
	margin-left:280px;
	height:50px;
	background:#555555;
	color:white;
	font-weight:bold;
}

#nav input[type="submit"]:hover{
	 
	background:white;
	color:#555555;
	 
}




